@import '../views/home/_home.css';
@import '../components/messagesContainer/_messages-container.css';


.messages-container {
  color: blue;
}

.left-side {
  float: left;
  width: 30%;
  background-color: lightgrey;
}

.right-side {

}
