.room-name {
  padding: 20px 30px;
}

.message-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

.message-stripe:nth-child(2n+1) {
  background: whitesmoke;
}

.message-stripe {
  display: flex;
  justify-content: space-between;
}

.name-content {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

.user-name {
  font-weight: bold;
}

.sent-at {
  color: grey;
  padding: 15px 30px;
}

.messages-container {
  display: flex;
flex-direction: column;
height: 95vh;
}
