<div class="messages-container" ng-show="$ctrl.messages">
   <h2 class="room-name">{{ $ctrl.room.$value }}</h2>

    <div class="message-table">
      <div class="message-stripe" ng-repeat="message in $ctrl.messages">
        <div class="name-content">
          <span class="user-name">{{message.username}}</span>
          <span class="message-content">{{message.content}}</span>
        </div>
        <span class="sent-at">{{ message.sentAt | date : 'medium' }}</span>
      </div>
    </div>

    <send-message room-id="$ctrl.room.$id"></send-message>
</div>
