<div class="set-username-modal">
  <div class="username-modal-header">
     <h3 class="modal-title" id="modal-title">Set a username</h3>
  </div>
  <div class="username-modal-body" id="modal-body">
     <label class="modal-label">This name will appear when you send messages</label>
       <input type="text" name="input" ng-model="$ctrl.username">
       <span class="error-message">{{ $ctrl.errorMessage }}</span>
  </div>
  <div class="username-modal-footer">
     <button class="set-username-button" type="button" ng-click="$ctrl.ok()">Set username</button>
  </div>
</div>
