<div>
  <div class="left-side">
    <h1 class="title-header">Bloc Chat {{$ctrl.currentUser}}</h1>
    <button class="btn btn-default" type="button" ng-click="$ctrl.logout()">Log out</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.openComponentModal()">New Room</button>
    <div ng-repeat="room in $ctrl.rooms" ng-click="$ctrl.showRoom(room.$id)">
        <p>{{ room.$value }}</p>
    </div>

  </div>

  <div class="right-side" ng-if="$ctrl.currentRoomId">
    <messages-container room-id="$ctrl.currentRoomId"></messages-container>
    <send-message room-id="$ctrl.currentRoomId"></send-message>
  </div>
</div>
