<div>
  <div class="left-side">
    <h1 class="title-header">Bloc Chat</h1>
    <button class="btn btn-default" type="button" ng-click="$ctrl.openComponentModal()">New Room</button>
    <!-- Pass in the entire room here instead of just the id so we can acces the name -->
    <div ng-repeat="room in $ctrl.rooms" ng-click="$ctrl.showRoom(room)">
        <p>{{ room.$value }}</p>
    </div>

  </div>

  <div class="right-side">
    <!-- Pass in the room id and the room name now so we can use them on the component -->
    <messages-container room-id="$ctrl.currentRoom.$id" room-name="$ctrl.currentRoom.$value"></messages-container>
  </div>
</div>
